.pricing-table h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titulo {
    font-size: 1.4em !important;
    font-style: unset !important;
    padding: 5px 3px;
}

.linha-tabela .titulo:nth-child(1) {
    text-align: right;
    padding-right: 15px;
}

.topo_tabela {
    background-color: lightslategray;
    color: darkblue;
    height: 120px;
    font-size: 1.4em !important;
}

.topo_tabela th {
    text-align: center;
    padding: 20px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topo_tabela th:nth-child(2) {
    width: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}

.topo_tabela2 th:nth-child(2) {
    width: min-content;
}

.topo_tabela_perc {
    padding: 10px;
}

.topo_tabela th:nth-child(1) {
    border-top-right-radius: 0;
}

.topo_tabela th:last-child {
    border-top-right-radius: 10px;
}

.topo_tabela2 th:nth-child(2) {
    border-top-right-radius: 0 !important;
}

.topo_tabela2 th:nth-child(3) {
    border-top-left-radius: 0 !important;
}

.valor_perc {
    width: 60%;
    display: inline;
    float: left;
    text-align: center;
    height: 30px;
    font-weight: bolder;
    font-size: 1.5em;
}

.control_perc {
    width: 20%;
    display: inline;
    float: left;
    background-color: white;
    border: 1px solid #D5D5D5;
    border-radius: 0 0 0 0 !important;
    font-size: .8em;
    transition-duration: 0.1s;
    box-shadow: none;
    height: 30px;
}

.control_perc:hover {
    cursor: pointer;
}

.iMais {
    color: green;
}

.iMenos {
    color: red;
}

.linha-tabela td:nth-child(2) {
    padding: 0;
}

.porc-decimal, .moeda {
    font-weight: bolder;
    color: lightblue;
}

.moeda {
    width: 120px;
}

#pricing_table_maior_dif tr td:last-child {
    width: 20%;
    font-size: 1.3em !important;
}

.graf {
    height: 350px;
    padding: 0 !important;
}

.tab-pane {
    text-align: left;

}

.tab-pane ul li {
    list-style: decimal;
}

.input-group{
    width: 60%;
    margin-left: 20%;
}

.input-group-addon{
    font-weight: 800;
    padding: 0 5px;
    font-size: 1.1em;
}

.separador td, .separador2 td{
    font-size: 1.4em !important;
    font-weight: bolder;
    padding: 5px 3px;
    color: white;
    text-align: center !important;
}

.separador td{
    background-color: darkseagreen;
}
.separador2 td{
    background-color: darkcyan;
}

.numerador1, .numerador2, .numerador3, .numerador4, .numerador5, .numerador6{
    border-bottom: 1px solid black;
    padding: 0 30px;
}