@media (max-width: 1500px) {
    .topo_tabela th:nth-child(1) {
        font-size: 1.2em !important;
    }

    .estrategico .separador3 {
        font-size: .9em !important;
    }
}

@media (max-width: 1300px) {
    .input-group_perc #perc_lucro {
        font-size: 1.8em !important;
        padding: 15px 5px !important;
    }

    .topo_tabela th:nth-child(1) {
        font-size: 1em !important;
    }

    #calcular_pel {
        padding: 6px 20px !important;
        margin-top: -32px !important;
        margin-left: 15px;
    }

    .input-group_perc {
        width: 70% !important;
        margin-left: 15% !important;
    }

    .topo_tabela {
        height: 150px;
        font-size: 1.3em !important;
    }

    #pricing_table_example2 .pricing-table {
        padding-right: 0 !important;
    }

    .estrategico .separador3 {
        font-size: .75em !important;
    }

    .estrategico .marcador1 {
        padding: 0 !important;
    }

    .estrategico .marcador1 .col-md-6 {
        padding: 5px !important;
    }
}

@media (max-width: 1200px) {
    #pricing_table_example2 .pricing-table ul, #pricing_table_example2 .pricing-table ul ul {
        font-size: 16px !important;
    }

    .pricing-table .col-md-12 .col-md-6 {
        padding: 0 !important;
    }

    .acelerador h3 {
        font-size: 20px;
    }

    .estrategico .marcador1 .col-md-6 {
        padding: 0 !important;
    }

    .lancamento .table > thead > tr > th, .lancamento .table > tbody > tr > th, .lancamento .table > tfoot > tr > th,
    .lancamento .table > thead > tr > td, .lancamento .table > tbody > tr > td, .lancamento .table > tfoot > tr > td {
        padding: 6px;
        line-height: 1;
    }
}

@media (max-width: 1000px) {
    .pricing-table {
        width: 100% !important;
    }

    .input-group_perc {
        width: 84% !important;
        margin-left: 8% !important;
    }

    .peop .pricing-table {
        width: 49% !important;
        min-height: 205px !important;
    }

    .acelerador .pricing-table {
        width: 100% !important;
    }

    .lancamento .table > thead > tr > th, .lancamento .table > tbody > tr > th, .lancamento .table > tfoot > tr > th,
    .lancamento .table > thead > tr > td, .lancamento .table > tbody > tr > td, .lancamento .table > tfoot > tr > td {
        padding: 4px;
    }

    .lancamento .btn {
        font-size: 16px !important;
    }

}

@media (max-width: 767px) {
    #pricing_table_example2 .pricing-table h1 span {
        font-size: 0.8em !important;
    }

    .navbar-header {
        background: rgba(35, 35, 35, .9);
    }

    ul.main-navigation-menu {
        margin-top: 30px;
    }

    .acelerador .col-sm-12 {
        padding-right: 0 !important;
    }

    .peop .col-md-12, .peop .col-sm-12, .peop .col-md-6, .peop .col-sm-6 {
        padding-right: 0 !important;
    }

    .estrategico {
        margin-right: -50px !important;
    }

    .estrategico .topo_tabela .titulo {
        font-size: 1em !important;
    }

    .estrategico .pricing-table .final {
        font-size: .8em !important;
    }

    .inicial {
        margin-right: -30px !important;
    }

    .inicial .col-md-8, .inicial .col-md-4 {
        padding-right: 10px !important;
    }

    .lancamento .table > thead > tr > th, .lancamento .table > tbody > tr > th, .lancamento .table > tfoot > tr > th,
    .lancamento .table > thead > tr > td, .lancamento .table > tbody > tr > td, .lancamento .table > tfoot > tr > td {
        padding: 2px 4px;
    }

    .menu1{
        display: none;
    }

    .menu2{
        display: block !important;
    }


    .modal-scrollable .modal-body{
        padding: 0 !important;
    }

    .modal-scrollable .modal-body .col-md-12{
        padding: 5px !important;
    }

    .modal-scrollable .modal-body .panel-box{
        margin-top: 0 !important;
    }

    .modal-scrollable .modal-body .panel-box form .col-md-12{
        padding: 0 !important;
    }

    .modal-scrollable .modal-body .panel-box form .col-sm-6, .modal-scrollable .modal-body .panel-box form .col-sm-4,
    .modal-scrollable .modal-body .panel-box form .col-sm-3{
        width: 49% !important;
        float: left;
    }

    .modal-scrollable .modal-body .panel-box form .col-sm-8, .modal-scrollable .modal-body .panel-box form .col-sm-9 {
        width: 98% !important;
        display: inline-block;
    }
}

@media (max-width: 600px) {
    #pricing_table_example2 .pricing-table h1 span {
        font-size: 0.7em !important;
    }

    .modal-scrollable .modal-body .panel-box form .col-sm-6, .modal-scrollable .modal-body .panel-box form .col-sm-4,
    .modal-scrollable .modal-body .panel-box form .col-sm-3,
    .modal-scrollable .modal-body .panel-box form .col-sm-8, .modal-scrollable .modal-body .panel-box form .col-sm-9 {
        margin-right: 1% !important;
    }
}

@media (max-width: 500px) {
    #pricing_table_example2 .pricing-table h1 span {
        font-size: 0.6em !important;
    }

    .acelerador th:nth-child(1) {
        padding: 10px 4px;
        font-size: 0.9em !important;
    }

    #pricing_table_example2 .pricing-table h1 sub {
        font-size: 0.35em !important;
    }

    .input-group_perc {
        width: 94% !important;
        margin-left: 4% !important;
    }

    #calcular_pel {
        padding: 6px 8px !important;
        margin-left: 15px;
    }

    .input-group_perc #perc_lucro {
        font-size: 1.6em !important;
        padding: 15px 3px !important;
    }

    .input-group-addon {
        padding: 0 6px !important;
    }

    .pricing-table h2 {
        font-size: 1.8em !important;
    }

    .acelerador .moeda, .estrategico .moeda {
        width: 90px !important;
        font-size: 13px !important;
    }

    .acelerador th:nth-child(2) {
        width: 120px !important;
    }

    .acelerador .valor_perc {
        width: 50% !important;
    }

    .acelerador .control_perc {
        width: 25% !important;
    }

    .linha-tabela td:first-child {
        font-size: 1.2em !important;
    }

    .acelerador .pricing-table .col-md-12 {
        padding-right: 22px !important;
        padding-left: 8px !important;
    }

    .estrategico .topo_tabela .titulo {
        font-size: .9em !important;
    }

    .estrategico .input-group-addon {
        padding: 0 3px !important;
        font-size: .9em !important;
    }

    .estrategico .input-group {
        width: 80%;
        margin-left: 10%;
    }

    #pagRecebi td {
        font-size: 1.5em !important;
    }

    .inicial .pricing-table .input-group_perc {
        margin-bottom: 10px !important;
    }

    .lancamento .btn {
        font-size: 18px !important;
    }

    .modal-scrollable .modal-body .panel-box form .col-sm-6, .modal-scrollable .modal-body .panel-box form .col-sm-4,
    .modal-scrollable .modal-body .panel-box form .col-sm-3,
    .modal-scrollable .modal-body .panel-box form .col-sm-8, .modal-scrollable .modal-body .panel-box form .col-sm-9 {
        width: 100% !important;
    }
}

@media (max-width: 400px) {
    .estrategico .ultima .topo_tabela .titulo {
        font-size: .8em !important;
    }

    .estrategico .ultima .final {
        font-size: .7em !important;
    }

    #pagRecebi td {
        font-size: 1.3em !important;
    }

    .modal-scrollable .modal-body form button{
        padding: 4px !important;
    }
}


.lancamento .menu2 {
    display: none;
}

.lancamento .btn-group {
    float: right;
}

.lancamento .menu2 ul li {
    cursor: pointer;
    padding: 8px 4px;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: 700;
}

.lancamento .menu2 ul li.divider {
    padding: 0 !important;
    margin: 1px;
}

.lancamento .menu2 ul li i {
    font-size: 1.6em !important;
}

.lancamento .menu2 .dropdown-menu {
    min-width: 200px !important;
    left: -100px !important;
}

.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b {
    background-size: 70px 40px!important;
}